.bg{
    background: #202c33;
}

.input{
    background: #2a3942;
}
.inputinner{
background: #2a3942;
}
.chatbg{
    background: #2938aaf2;
}
.userchatbg{
    background: #4f5bbaf2;
}
.send{
    background: #272A35;
}
.hov:hover{
    box-shadow: 0px 1px 17px 2px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.1s ease;
}